#{extends 'main.html' /}
#{set title:'Veículos' /}


<h1>Veículos</h1>

#{if flash.success}
	<p class="success">${flash.success}</p>
#{/if}

#{if flash.error}
	<p class="error">${flash.error}</p>
#{/if}


<fieldset>
	<legend>Cadastrar veículo</legend>
	#{form @VehicleController.create()}

		#{ifErrors}
			#{errors}
				<li class="error">${error}</li>
			#{/errors}
		#{/ifErrors}
		
		
		<p>
			<label for="owner">Proprietário:</label><br>
			<input type="text" id="owner" name="owner" value="${vehicle?.owner}" /></p>
		<p>
			<label for="license">Placa:</label><br>
			<input type="text" id="license" name="license" value="${vehicle?.license}" /></p>
		<p>
			<label for="model">Modelo:</label><br>
			<input type="text" id="model" name="model" value="${vehicle?.model}" /></p>
		<p>
			<label for="year">Ano:</label><br>
			<input type="text" id="year" name="year" value="${vehicle?.year}" /></p>
		<p>
			<label for="manufacturer">Fabricante:</label><br>
			<input type="text" id="manufacturer" name="manufacturer" value="${vehicle?.manufacturer}" /></p>
		<p>
			<label for="odometer">Odômetro:</label><br>
			<input type="text" id="odometer" name="odometer" value="${vehicle?.odometer}" /></p>
		<p>
			<input type="submit" value="Salvar"></p>
	#{/form}
</fieldset>