#{extends 'main.html' /}
#{set title:'Veículos' /}


<h1>Veículos</h1>

<ul class="submenu">
	<li>
		<a href="@{VehicleController.create()}">
			<strong>Novo</strong></a></li>
</ul>

#{if flash.success}
	<p class="success">${flash.success}</p>
#{/if}

#{if flash.error}
	<p class="error">${flash.error}</p>
#{/if}

#{if vehicles?.isEmpty()}
	<strong>Nenhum veículo cadastrado.</strong>
#{/if}

#{else}
	<table>
		<tr>
			<th>Placa</th>
			<th>Modelo</th>
			<th>Ano</th>
			<th>Fabricante</th>
			<th>Consumo médio (últimos 6 meses)</th>
		</tr>
		#{list items:vehicles, as:'vehicle'}
			<tr>
				<td>${vehicle.license}</td>
				<td>${vehicle.model}</td>
				<td>${vehicle.year}</td>
				<td>${vehicle.manufacturer}</td>
				<td>${vehicle.consumption}</td>
				<td><a href="@{VehicleController.edit(vehicle.license)}">Alterar</a></td>
			</tr>
		#{/list}
	</table>
#{/else}
